<div>
  <h2 id="page-heading" data-cy="TissuHeading">
    <span jhiTranslate="coutureApp.tissu.home.title">Tissus</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="reset()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="coutureApp.tissu.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-tissu"
        [routerLink]="['/tissu/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="coutureApp.tissu.home.createLabel"> Create a new Tissu </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="tissus?.length === 0">
    <span jhiTranslate="coutureApp.tissu.home.notFound">No tissus found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="tissus && tissus.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="reset()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="name"><span jhiTranslate="coutureApp.tissu.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="ref"><span jhiTranslate="coutureApp.tissu.ref">Ref</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="color"><span jhiTranslate="coutureApp.tissu.color">Color</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="buySize">
            <span jhiTranslate="coutureApp.tissu.buySize">Buy Size</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="type"><span jhiTranslate="coutureApp.tissu.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="buyDate">
            <span jhiTranslate="coutureApp.tissu.buyDate">Buy Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="image"><span jhiTranslate="coutureApp.tissu.image">Image</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
        <tr *ngFor="let tissu of tissus; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/tissu', tissu.id, 'view']">{{ tissu.id }}</a>
          </td>
          <td>{{ tissu.name }}</td>
          <td>{{ tissu.ref }}</td>
          <td>{{ tissu.color }}</td>
          <td>{{ tissu.buySize }}</td>
          <td jhiTranslate="{{ 'coutureApp.TissuType.' + tissu.type }}">{{ tissu.type }}</td>
          <td>{{ tissu.buyDate | formatMediumDate }}</td>
          <td>
            <a *ngIf="tissu.image" (click)="openFile(tissu.image, tissu.imageContentType)" jhiTranslate="entity.action.open">open</a>
            <span *ngIf="tissu.image">{{ tissu.imageContentType }}, {{ byteSize(tissu.image) }}</span>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/tissu', tissu.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button type="submit" [routerLink]="['/tissu', tissu.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(tissu)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
