<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-tissu-heading" data-cy="TissuCreateUpdateHeading" jhiTranslate="coutureApp.tissu.home.createOrEditLabel">
        Create or edit a Tissu
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coutureApp.tissu.name" for="field_name">Name</label>
          <input type="text" class="form-control" name="name" id="field_name" data-cy="name" formControlName="name" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coutureApp.tissu.ref" for="field_ref">Ref</label>
          <input type="text" class="form-control" name="ref" id="field_ref" data-cy="ref" formControlName="ref" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coutureApp.tissu.color" for="field_color">Color</label>
          <input type="text" class="form-control" name="color" id="field_color" data-cy="color" formControlName="color" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coutureApp.tissu.buySize" for="field_buySize">Buy Size</label>
          <input type="text" class="form-control" name="buySize" id="field_buySize" data-cy="buySize" formControlName="buySize" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coutureApp.tissu.type" for="field_type">Type</label>
          <select class="form-control" name="type" formControlName="type" id="field_type" data-cy="type">
            <option [ngValue]="null">{{ 'coutureApp.TissuType.null' | translate }}</option>
            <option *ngFor="let tissuType of tissuTypeValues" [value]="tissuType">
              {{ 'coutureApp.TissuType.' + tissuType | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coutureApp.tissu.buyDate" for="field_buyDate">Buy Date</label>
          <div class="input-group">
            <input
              id="field_buyDate"
              data-cy="buyDate"
              type="text"
              class="form-control"
              name="buyDate"
              ngbDatepicker
              #buyDateDp="ngbDatepicker"
              formControlName="buyDate"
            />
            <button type="button" class="btn btn-secondary" (click)="buyDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="coutureApp.tissu.image" for="field_image">Image</label>
          <div>
            <div *ngIf="editForm.get('image')!.value" class="form-text text-danger clearfix">
              <a
                class="pull-start"
                (click)="openFile(editForm.get('image')!.value, editForm.get('imageContentType')!.value)"
                jhiTranslate="entity.action.open"
                >open</a
              ><br />
              <span class="pull-start">{{ editForm.get('imageContentType')!.value }}, {{ byteSize(editForm.get('image')!.value) }}</span>
              <button
                type="button"
                (click)="editForm.patchValue({ image: null }); editForm.patchValue({ imageContentType: null })"
                class="btn btn-secondary btn-xs pull-end"
              >
                <fa-icon icon="times"></fa-icon>
              </button>
            </div>
            <input
              type="file"
              id="file_image"
              data-cy="image"
              (change)="setFileData($event, 'image', false)"
              jhiTranslate="entity.action.addblob"
            />
          </div>
          <input type="hidden" class="form-control" name="image" id="field_image" data-cy="image" formControlName="image" />
          <input
            type="hidden"
            class="form-control"
            name="imageContentType"
            id="field_imageContentType"
            formControlName="imageContentType"
          />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
